.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__container {
    display: block;
    width: 650px;
    max-width: 100%;
    padding: 10px 30px;
    & span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 15px;
      color: #cccccc;
    }
  }

  .btn__wrapper {
    display: block;
    position: relative;
  }

  .btn {
    display: block;
    padding: 15px 3px;
    background: #5c6bc0;
    color: #ffffff;

    &__full {
      width: 100%;
    }
    &__half {
      display: inline-block;
      width: 50%;
    }
  }

  .btn__divider {
    display: block;
    position: absolute;
    width: 7px;
    height: 70px;
    background: #ffffff;
    left: 50%;
    top: 0;
    transform: rotate(15deg);
    margin-top: -10px;
  }

  &__section {
    padding-bottom: 20px;

    .login {
      & label {
        display: block;
      }
      & input {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 25px;
        font-size: 24px;
      }
    }
  }
}
