.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__container {
    display: block;
    width: 650px;
    max-width: 100%;
    padding: 10px 30px;
    & span {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      margin-bottom: 15px;
      color: #cccccc;
    }
  }

  .btn__wrapper {
    position: relative;
    height: 47px;
    display: flex;
  }

  .btn {
    display: block;
    padding: 15px 3px;
    background: #5c6bc0;
    color: #ffffff;
    height: 43px;

    &__full {
      width: 100%;
    }
    &__half {
      display: inline-block;
      position: relative;
      width: 50%;
    }

    &__m-5 {
      margin-top: 5px;
    }
    
    &__divider {
      display: block;
      position: absolute;
      width: 15px;
      height: 80px;
      background: #ffffff;
      left: 49%;
      top: 0;
      transform: rotate(15deg);
      margin-top: -20px;
      z-index: 1;
    }
  }


  &__section {
    padding-bottom: 20px;

    .login {
      & label {
        display: block;
      }
      & input {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #cccccc;
        margin-bottom: 25px;
        font-size: 24px;
      }
    }
  }
}
