.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../../../../media/img/gray-grid.png') no-repeat center
    center/cover;
  width: calc(100% - 600px);
  height: 100%;
}
