.tools {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  height: 100%;
  background: #fff;
  transition: all 1s;
  overflow: hidden;

  h5 {
    margin: 10px 0;
    font-size: 16px;
    color: #6c757d;
  }

  &.open {
    left: calc(100% - 300px);
    width: 300px;
  }

  &__img {
    position: relative;
    background: url("../../../../media/img/reducers.png") no-repeat center
      center;
    background-size: contain;
    width: 120px;
    height: 150px;
    opacity: 0;
    margin-top: -125px;
    animation: reducer 0.5s ease-in-out 2s 1 forwards;
  }

  @keyframes reducer {
    0% {
      opacity: 0;
      margin-top: -125px;
    }
    100% {
      opacity: 0.85;
      margin-top: 0px;
    }
  }

  &__shelf {
    display: block;
    background: #888686;
    opacity: 0;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    transform: rotate(90deg);
    animation: scale 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  @keyframes scale {
    0% {
      width: 20px;
      transform: rotate(90deg);
      opacity: 1;
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      width: 180px;
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  &__append-img {
    position: relative;
    background: url("../../../../media/img/folder.png") no-repeat center
      center/contain;
    background-size: 100px;
    background-position: 50% -100%;
    min-width: 100%;
    min-height: 150px;
    overflow: hidden;
    top: 0;
    transition: top 0.5s cubic-bezier(0.62, 0.16, 0, 1.04);
    animation: folder 0.5s ease-in-out 2.5s 1 normal forwards;

    &:hover {
      background-size: 115px;
      top: -5px;
    }
  }

  @keyframes folder {
    0% {
      background-position: 50% -100%;
    }
    100% {
      background-position: 50% 50%;
    }
  }
}
