@import "../../../../media/styles/variables.scss";
@import "../../../../media/styles/mixins.scss";

.tools {
  background: #fff;
  position: fixed;
  top: 0;
  right: 0px;
  width: calc(100% - 300px);
  height: 100vh;
  transition: all 1s;
  z-index: 4;
  @include b(mobile) {
    width: calc(100% - 50px);
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  h5 {
    margin: 10px 0;
    font-size: 16px;
    color: #6c757d;
  }

  &.open {
    transform: translateX(calc(100% - 300px));
    width: 300px;
    @include b(mobile) {
      transform: translateX(calc(100% - 250px));
    }
  }

  &.close {
    transform: translateX(calc(100% - 5px));
    width: 300px;
  }

  &__btn {
    position: absolute;
    background: #fff;
    width: 50px;
    height: 40px;
    top: 100px;
    left: -50px;
    border-radius: 10px 0 0 10px;
    margin-top: -150px;
    animation: reducer 0.5s ease-in-out 2s 1 forwards;
    cursor: pointer;
    @include b(mobile) {
      top: 82px;
    }

    &::after {
      content: "";
      position: absolute;
      background: url("../../../../media/img/reducers.png") no-repeat center
        center;
      background-size: contain;
      width: 50px;
      height: 150px;
      top: -55px;
      right: -3px;
    }
  }

  @keyframes reducer {
    0% {
      margin-top: -150px;
    }
    100% {
      margin-top: 0px;
    }
  }

  &__shelf {
    display: block;
    background: #888686;
    opacity: 0;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    transform: rotate(90deg);
    animation: scale 0.5s cubic-bezier(0.55, 0.09, 0.68, 0.53);
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  @keyframes scale {
    0% {
      width: 20px;
      transform: rotate(90deg);
      opacity: 1;
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      width: 180px;
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  &__append-img {
    position: relative;
    background: url("../../../../media/img/folder.png") no-repeat center
      center/contain;
    background-size: 100px;
    background-position: 50% -100%;
    min-width: 100%;
    min-height: 150px;
    overflow: hidden;
    top: 0;
    transition: top 0.5s cubic-bezier(0.62, 0.16, 0, 1.04);
    animation: folder 0.5s ease-in-out 2.5s 1 normal forwards;

    &:hover {
      background-size: 115px;
      top: -5px;
    }
  }

  @keyframes folder {
    0% {
      background-position: 50% -100%;
    }
    100% {
      background-position: 50% 50%;
    }
  }
}
