.checkbox {
  width: 100%;
  padding: 24px;

  .block-switch {
    padding-left: 30px;
    overflow: visible;
    padding-bottom: 10px;

    &__input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }

    &__label {
      position: relative;
      margin-bottom: 0px;
      vertical-align: top;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 1px;
        height: 14px;
        width: 26px;
        background-color: #ffffff;
        border: #dee2e6 solid 1px;
        border-radius: 10px;
        left: -35px;
        pointer-events: all;
      }

      &:after {
        content: "";
        position: absolute;
        background-color: #fff;
        top: calc(1px + 2px);
        left: calc(-35px + 2px);
        width: calc(16px - 4px);
        height: calc(16px - 4px);
        background-color: #dee2e6;
        border-radius: 8px;
        transform: translateX(0.75rem);
      }
    }
  }
}
