@import "../../../../media/styles/variables.scss";
@import "../../../../media/styles/mixins.scss";

.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 267px);
  overflow: hidden;
  overflow-y: scroll;

  .folder-list {
    position: relative;
    padding-left: 75px;
    padding-right: 5px;
    @include b(mobile) {
      padding-left: 5px;
    }

    &__item {
      display: flex;
      line-height: 45px;
      color: $gray-easy;
      text-transform: capitalize;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 25px;
        background: url("../../../../media/img/empty-folder.png") no-repeat;
        background-size: 70%;
        background-position: 10px 10px;
        min-width: 45px;
        min-height: 45px;
        opacity: 0.7;
        @include b(mobile) {
          left: 0;
        }
      }

      input {
        display: inline-block;
        width: calc(100% - 80px);
        background: $gray;
        border-bottom: 1px solid rgba(14, 10, 10, 0.5);
        color: $white;
        line-height: 42px;
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
      }

      button {
        background: $dark-blue;
        width: 40px;
      }

      &.active {
        .icon {
          &-edit {
            display: inline-block;
            position: relative;
            background: url("../../../../media/img/icon_folder-edit.png")
              no-repeat center center;
            background-size: 50%;
            background-position: 50% 40%;
            min-width: 40px;
            min-height: 40px;
            animation: btn 0.3s ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0s;
            right: -100px;
            cursor: pointer;
          }

          &-delete {
            display: inline-block;
            position: relative;
            background: url("../../../../media/img/icon_folder-delete.png")
              no-repeat center center;
            background-size: 50%;
            background-position: 50% 40%;
            min-width: 40px;
            min-height: 40px;
            animation: btn 0.3s ease-out;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
            right: -100px;
            cursor: pointer;
          }

          @keyframes btn {
            0% {
              right: -100px;
            }
            100% {
              right: 0px;
            }
          }
        }
      }
    }

    &__name {
      width: 100%;
      cursor: default;
    }
  }
}
