// colors
$white: #fff;
$black: #000;

$dark-blue: #3d4f65;

$purple-deep: #5c6bc0;
$purple: #546bc4;

$gray: #d0cfcf40;
$gray-easy: #dee2e6;
$gray-light: #cccccc;
$gray-middle: #959595;

$green: #20bb20;

:root {
  --color: #fff;
}

// media
$form: calc(100% - 50px);
